*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    height: 100vh;
    grid-template-areas: "aside main";
}

aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
}

main{
    grid-area: main;
}